.feedback {
	@include for-large-up {
		position: relative;
	}
}

.feedback-block {
	margin: 39px 15px 50px 15px;

	@include for-large-up {
		margin: 0;
		margin-top: 76px;
		margin-bottom: 66px;
	}
}

.promotion {
	@include for-large-up {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		color: $text-color-feedback-title;
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		margin: 0;
	}

	&__description {
		color: $text-color-black;
		font-size: 24px;
		font-weight: 400;
		line-height: 34px;
		margin: 0;
		margin-top: 29px;

		@include for-large-up {
			width: 750px;
			margin-top: 28px;
			text-align: center;
		}
	}

	&__promoter {
		margin-top: 32px;

		@include for-large-up {
			margin-top: 34px;
			text-align: center;
		}
	}

	&__promoter-name {
		color: $text-color-black;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
	}

	&__promoter-profession {
		color: $text-color-proffesion;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}
}

.points {
	display: flex;
	justify-content: space-between;
	width: 75px;
	height: 12px;
	margin: auto;
	margin-top: 40px;

	@include for-large-up {
		margin-top: 38px;
		width: 50px;
		height: 8px;
	}

	&__point {
		width: 12px;
		height: 12px;
		background-color: $point-color-feedback;
		border-radius: 50%;
	}

	.point-selected {
		background-color: $background-color-point;
		opacity: 1;
	}
}

.baloon {
	display: flex;
	justify-content: center;
	margin-top: 40px;

	@include for-large-up {
		position: absolute;
		width: 273px;
		height: 243px;
		margin: 0;
		left: 1101px;
		bottom: 0;
	}
}
