$text-color-black: #2b292d;
$text-color-white: #fff;
$text-color-blue: #3040c4;
$text-color-green: #009b4d;
$text-color-1592: #f1592b;
$text-color-proffesion: #2b292d99;
$text-color-communicate-subtitle: #0189d1;
$text-color-feedback-title: #3142c6;
$text-color-email: #2b292d33;
$text-color-features-desktop-subtitle: #009b4d;
$text-color-location: #2b292d0f;

$background-color-headline: #f3c6bd;
$background-color-blue: #3040c4;
$background-color-white: #fff;
$background-color-about: #f4f5f7;
$background-color-audience: #edf8fb;
$background-color-hover: #3141c5;
$background-color-point: #3142c5;
$background-color-arrow-right: #d5d4d5;
$background-color-order: #f4f5f7;

$border-color-header-button: #00000026;
$border-color-light-grey: #e3e3e3;
$border-color-vacancy: #2b292d33;
$border-color-acquire: #3142c6;
$border-color-engage: #2b292d26;
$border-color-review: #0185d0;

$point-color-feedback: #2b292d33;
